<div b-name="checkbox">
  <input type="checkbox" :checked="isChecked" :disabled="isDisabled">
</div>
<div b-name="link">
  <a :href="url" :class="cls">Link</a>
</div>
<div b-name="mixed">
  <a :href="url" id="footer" :class="cls">Link</a>
</div>
<div b-name="root-bind" :class="cls">
  <span>Content</span>
</div>
<div b-name="self-closing-bind">
  <img :src="url" />
</div>
<div b-name="self-closing-raw">
  <img src="static.png" />
</div>
<div b-name="static-bare">
  <input type="checkbox" checked><input disabled :value="v"><input readonly="">
</div>
