.sidebar {
  width: 200px;
}

.content {
  flex: 1;
}

@media (max-width: 768px) {
  .sidebar {
    display: none;
  }
}

@media print {
  .sidebar {
    display: none;
  }

  .content {
    width: 100%;
  }
}
